
        body {
        background-image: url("abstract.jpg");
        background-size: 100% auto;
        background-attachment: fixed;
        }

        
        h1, .links {
        color: slategray;
        background-color: rgb(200, 240, 243);
        border-radius: 40px;
        }

        h1 {
        display: flex;
        justify-content: center;
        padding: 20px;
        margin: 0px 300px 0px 300px;
        flex-wrap: wrap;
        }

        .intro {
        background-color: lavender;
        border-radius: 40px;
        display: flex;
        color: slategray;
        margin: 50px 50px 50px 50px;
        flex-wrap: wrap;
        }

                .one {
                flex: 1;
                justify-content: center;
                margin: auto;
                padding: 50px;
                }

                .right {
                flex: 2;
                margin: auto;
                padding: 50px;
                flex-direction: column;
                align-items: center;
                }

                        .two, .links {
                                flex: 1;
                                margin: auto;
                        }

                        .two { 
                                padding: 0px 0px 60px 0px;
                        }


                        .links {
                                padding: 30px;
                        }


        * {
        font-family: "MS PGothic", sans-serif;
        text-align: center;
        }

        /* 179, 236, 203 green shade */
        
        a, img {
        color: gray;
        padding: 8px;
        background-color: white;
        background-image: linear-gradient(180deg, rgb(200, 240, 243) 0%, white 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.0em;
        background-position: 100% 0;
        transition: background-size 0.225s ease-in;
        text-decoration: none;
        border-radius: 30px;
        }
        
        img:hover, a:hover,
        img:focus, a:focus {
        border-color: lavender;
        background-size: 100% 100%;
        }

        h1, .links, .intro {
        border: 8px double white;
        }

        img {
        width: auto;
        height: 600px;
                }
        