
        h1, .links {
        color: grey;
        background-color: lavender;
        border-radius: 40px;
        }

        .intro {
        background-color: lightgray;
        border-radius: 40px;
        }

        * {
        font-family: "MS PGothic", sans-serif;
        text-align: center;
        }

        a, img {
        color: gray;
        padding: 8px;
        background-color: rgb(179, 236, 203);
        background-image: linear-gradient(120deg, lavender 0%, lavender 100%);
        background-repeat: no-repeat;
        background-size: 100% 0.0em;
        background-position: 0 100%;
        transition: background-size 0.225s ease-in;
        text-decoration: none;
        border-radius: 30px;
        }
        
        img:hover, a:hover,
        img:focus, a:focus {
        border-color: lavender;
        background-size: 100% 100%;
        }

        h1, .links, .intro {
        border: 5px double grey;
        }

        img {
        height: auto;
        width: 200px;
        }       

        h1 {
        padding: 20px;
        }
